.Postfeed {
  text-align: center;
  padding: 50px;
}

h2.Author {
  padding-top: 0;
  padding-right: 70px;
  line-height: 10px;
  display: flex;
  text-align: left;
}

.UserIcon {
  background-color: #ffd1bd;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  display: flex;
  /* Need to center the logo still */
}

PawIcon.UserPaw {
  padding: 40px;
}

ul {
  list-style: none;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

li {
  display: flexbox;
  border: 1px solid #ffd1bd;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 25px;
  /* justify-content: space-between; */
}

h2 {
  width: 612px;
  height: 44px;
  top: 468px;
  text-align: left;
  display: flex;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
p.timestamp {
  text-align: right;
}

img {
  padding-left: 30px;
  padding-bottom: 10px;
  width: 400px;
  top: 578px;
}
