h1 {
  padding-left: 3%;
  max-width: 25%;
  display: inline-block;
}

input {
  border-radius: 25px;
  border-color: #ff8550;
  border: 5px;
  padding-left: 3%;
  margin-left: 10%;
  width: 75%;
  height: 32px;
  font-weight: lighter;
  outline: none;
}

.TitleBar {
  color: white;
  background-color: #ff8550;
  display: flex;
  padding-top: 10px;
  padding-right: auto;
  padding-left: auto;
  align-items: center;
  justify-content: space-between;
}

/* .App {
  text-align: center;
  font-family: "Inter", sans-serif;
} */

.InputField {
  background-color: #ffd1bd;
  height: 90px;
  padding: 30px;
}

.LogOut {
  color: white;
  display: inline-block;
  padding-right: 36px;
}

.WoofButton {
  height: 52px;
  width: 125px;
  color: white;
  background: #ff8550;
  border: 0;
  margin-top: 15px;
  margin-left: 65%;
  margin-right: auto;
  border-radius: 25px;
  font-size: larger;
  display: block;
}
